@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* @font-face {
  font-family: ;
  src: url();
} */
body {
  font-family: Poppins !important;
}
.brand {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text-color {
  color: #192f60;
}

.restaurant-image {
  width: 100px;
  height: 100px;
  border-radius: 20%;
}

.my-pagination {
  list-style: none;
  padding: 0;
  display: flex;
}
.my-page-items {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid gray;
  margin: 5px;
  color: gray;

  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: gray;
  color: white;
}

.my-shadow {
  box-shadow: 0px 0px 5px gray;
  /* x-axis y-axis blur color */
  /* +X(right) +Y(bottom)  */
  /* -X(left) -Y(top)  */
}
/* input[type="radio"] ==> attribute selector */
/* input[type="radio"], input[type="checkbox"] ===> group selector*/
/* input[type="radio"],
input[type="checkbox"] {
  accent-color: red !important;
} */

input[type="text"] {
  background-color: green;
  color: white;
}

input[type="number"] {
  background-color: red;
  color: white;
}

input[type="email"]:hover {
  background-color: red;
  color: white;
}

a[href*=".pdf"]::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-flex;
  background-color: red;
  border-radius: 50%;
  margin: 0 5px;
}

a::after {
  content: "\f08e";
  font-family: FontAwesome;
}

a[href*=".pdf"]::after {
  content: "\f1c1";
  color: red;
  margin: 0 5px;
  font-family: FontAwesome;
}

a[href*=".doc"]::after {
  content: "\F7D1";
  font-family: bootstrap-icons;
  color: navy;
}
