.z-100 {
  z-index: 100 !important;
  bottom: 0;
}

.z-99 {
  z-index: 99 !important;
  bottom: 0;
}
.main-section {
  background-color: red;
  height: 70vh;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.849)),
    url("./images/main-bg.png");
  background-position: center;
  background-size: 100%;
}
.brand-name {
  width: 130px;
  height: 130px;
  background-color: white;
  color: red;
  border-radius: 75px;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-navy {
  color: #192f60 !important;
}
.rest-search-auto-complete img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.image-item {
  width: 45%;
  height: 20vh;
}
.quick-search-item {
  width: 32%;
  margin-bottom: 8px;
  cursor: pointer;
}

/* search page start */
.brand {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand {
  cursor: pointer;
}
.food-shadow {
  box-shadow: 0 0 5px 0px gray;
  cursor: pointer;
}
.food-item {
  width: 120px;
  height: 120px;
  border-radius: 25px;
}

.pages {
  list-style: none;
  padding: 0;
  display: flex;
}
.pages li {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  color: gray;
  font-weight: bold;
}
.pages .active {
  border: 1px solid white;
  color: white;
  background-color: gray;
}

/********** bootstrap-restaurant-page*/
.restaurant-main-image {
  height: 70vh;
  overflow: hidden;
}
.restaurant-main-image img {
  height: 150%;
  width: 100%;
}
.btn-gallery {
  top: 85%;
  right: 5%;
  background-color: rgba(245, 222, 179, 0.411);
  color: black;
  font-weight: bold;
}

/* menu item  */
.menu-food-item {
  width: 90px;
  height: 90px;
  background-color: #192f60;
  position: relative;
}
.menu-food-item .add {
  position: absolute;
  left: 25%;
  bottom: -20%;
}
.menu-food-item img {
  width: 100%;
  height: 100%;
}
.menu-food-item .order-item-count {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -20%;
}
.menu-food-item .order-item-count span {
  background-color: white;
  padding: 2px 5px;
  border: 2px solid gray;
  margin: 0 2px;
}
/* search page end */

/* iphone SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* physical 960x640 
   480x320
*/

  .brand-name {
    width: 100px;
    height: 100px;
    font-size: 3.5rem;
  }
  .search {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
  }
  .search > div {
    width: 100% !important;
  }
  .form-control {
    width: 80% !important;
  }
  .input-group {
    width: 100% !important;
  }

  .search > div > .set-100 {
    width: 100% !important;
  }

  .main-section {
    background-color: red;
    height: auto;
    padding-bottom: 2rem;
    background-size: cover;
  }
  .quick-search-item {
    width: 100%;
    margin-bottom: 8px;
  }
}
